@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'bufallo';
    src: url('../fonts/BuffaloInline2Grunge.ttf');
}

:root{
    --cor_01: #0d6efd;
    --cor_03: #f2f2f2;
    --cor_04: #00000020;
    --cor_05: #121212;
    --cor_alert_suces: #d4edda;
    --cor_font_suces: #155724; 
    --cor_alert_error: #f8d7da;
    --cor_font_error: #721c24;
}

body{
    background-color: var(--cor_01);
    font-family: 'Roboto', sans-serif;
}

main.conteiner-geral{
    /*height: auto;*/
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    */
}

div.conteiner-titulo{
    width: 100%;
    text-align: center;
    background-color: var(--cor_03);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-items: center;
}

h1.titulo{
    /*
    padding-left: 40px;
    padding-right: 40px;
    */
    padding-top: 30px;
    padding-bottom: 30px;
    /*border-bottom: 1px solid var(--cor_04);*/
    font-family: 'bufallo';
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
}

div.conteiner-footer{
    background-color: var(--cor_03);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}
div.conteiner-footer p{
    text-align: center;
}

section.conteiner-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form.form_login{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    /*padding-bottom: 30px;*/
    background-color: white;
    /*border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    */
    border-bottom: 1px solid var(--cor_04);;
}

input[type="text"]{
    display: block;
    height: 46px;
    width: 100%;
    border-radius: 6px;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: var(--cor_04);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    background-image: url('../img/bg-user.jpg');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
}

input[type="text"]:focus, input[type="password"]:focus{
    outline: 0;
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253/25%)
}

input[type="password"]{
    display: block;
    margin-bottom: 5px;
    height: 46px;
    width: 100%;
    border-radius: 6px;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: var(--cor_04);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-image: url('../img/bg-password.jpg');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;

}

/*
label.labels{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
*/

div.conteiner-esquece-senha{
    width: 100%;
    margin-bottom: 20px;
}
/*
div.container-button{
    width: 100%;
    text-align: right;
}
*/
input[type="submit"]{
    /*whidth: 90px*/
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    /*float: right;*/
    background-color: var(--cor_01);
    color: white;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: var(--cor_04);
    border-radius: 4px;
    font-size: 17px;
    margin-bottom: 20px;
}

input[type="submit"]:hover{
    background-color: white;
    color: var(--cor_05);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
/*
div.cleared{
    clear: right;
}
*/

/*********************MODAL LOGIN*************************************************/

div.conteiner-modal{
    display: none; /*oculto por padrão*/
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /*Habilite a rolagem se necessário*/
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

div.conteiner-header-modal{
    background-color: #fefefe;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: #888;
    width: 500px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

div.modal-content{
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: #888;
    width: 500px;
}

div.conteiner-footer-modal{
    background-color: #fefefe;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-top: 1px;
    border-bottom: 1px;
    border-right: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: #888;
    width: 500px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

div.conteiner-footer-modal a{
    display: inline-block;
    text-decoration: none;
    background-color: var(--cor_02);
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    color: var(--cor_01);
    border-radius: 3px;
    font-size: 18px;
}

div.conteiner-footer-modal a:hover{
    background-color: var(--cor_04);
    color: var(--cor_05);
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-color: var(--cor_05);
    border-style: solid;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

div.conteiner-footer-modal a:first-child{
    margin-right: 30px;
}

div.modal-content p{
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

span.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

span.close:hover, span.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

div.alert-success{
    background-color: var(--cor_alert_suces);
    color: var(--cor_font_suces);
}

div.alert-warning{
    background-color: var(--cor_alert_error);
    color: var(--cor_font_error);
}


/*abaixo de 450px assume a largura da viewreport*/
@media screen and (max-width: 320px) {
    main.conteiner-geral{
        width: 100%;
    }
    h1.titulo{
        font-size: 28px;
        font-weight: 500;
    }
    input[type="submit"]{
        float: none;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }
    div.conteiner-esquece-senha{
        text-align: center;
    }
    h1.titulo{
        word-wrap: break-word;
    }
    div.modal-content{
        width: 80%;
    }
}